@import "tailwindcss";

body {
  background-color: #f9fafb;
  /* equivalent to bg-gray-50 */
  color: #111827;
  /* equivalent to text-gray-900 */
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
}